.App {
    width: 100vw;
    height: 100vh;
    background-color: blue;
    color: white;
    
  }
  .containerList{
    
    border-radius: 0px;
    background-color: #808080;
    width: 15vw;
    text-align: center;
    justify-content: end;
    
  
  }

  ul{
    list-style: none;
  }
  
  
  
 
  
  